[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "nvim/vim-plug"]
	path = nvim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = git@github.com:ccheek21/pure.git
[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "zsh/z"]
	path = zsh/z
	url = git@github.com:rupa/z.git
[submodule "zsh/fzf"]
	path = zsh/fzf
	url = git@github.com:junegunn/fzf.git
